* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}  
a {
  text-decoration: none;
}
body {
  background: -webkit-linear-gradient(bottom, #56b021, #89da59);
  background-repeat: no-repeat;
 height: 100%;
}
label {
  font-family: "Raleway", sans-serif;
  font-size: 11pt;
}

/* burger icon */

.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: white;
}

.change .bar2 {opacity: 0;   background-color: white;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
    background-color: white;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.header2.bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
  background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
  margin-bottom: 30px;
}

.header2 .font-12 {
  font-size: 12px;
}

.header2 .dropdown-item {
  padding: 8px 1rem;
  color: #8d97ad;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link {
  padding: 12px 0px;
  color: #ffffff;
  font-weight: 400;
}

.header2 .h2-nav .navbar-nav .nav-item .nav-link:hover {
  color: #263238;
}

.header2 .h2-nav .navbar-nav .nav-item {
  margin: 0 20px;
}

@media (min-width: 1024px) {
  .header2 .navbar-nav > .dropdown .dropdown-menu {
    min-width: 210px;
    margin-top: 0px;
  }
}

@media (min-width: 1024px) {
  .header2 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.header2 .dropdown-toggle::after {
  display: none;
}

@media (min-width: 1024px) {
  .header2 .hover-dropdown .navbar-nav > .dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

.header2 .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.header2 .btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.header2 .h2-nav .navbar-nav .nav-item .btn {
  opacity: 0.5;
}
 
.header2 .h2-nav .navbar-nav .nav-item .btn:hover {
  opacity: 1;
}

.header2 .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
  border-radius: 0.25rem;
  display: none;
}
  
#forgot-pass {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}
.card {
  background: #fbfbfb;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 490px;
  margin: 1rem auto 8.1rem auto;
  width: 329px;
}
.card-content {
  padding: 12px 44px;
}
.card-title {
  font-family: "Raleway Thin", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  margin-top: 15px;
}
.signup {
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
.submit-btn {
  background: -webkit-linear-gradient(right, #336b87, #19668c);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c4930e;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
.submit-btn:hover {
  box-shadow: 0px 1px 18px #bf8f0b;
}
.daftar {
  background: -webkit-linear-gradient(right, #336b87, #19668c);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 1px 8px #c4930e;
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 20px;
  transition: 0.25s;
  width: 153px;

}
.daftar:hover {
  box-shadow: 0px 1px 18px #bf8f0b;
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.ahay {   
  color: #2dbd6e;
  font-family: "Raleway", sans-serif;
  font-size: 10pt;
  margin-top: 56px;
  text-align: center;
}
.underline-title {
  background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
  height: 2px;
  width: 135px;
    margin-top: -5px;
    margin-bottom: 20px;
}
        .atas {
            padding: 10px;
            background: #e33719;
            width: 300px;
            color: white;
            box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
        }    
        .atas:hover{
             box-shadow: 0px 1px 18px white;
             cursor: pointer;
        }
